<div class="row">
    <% if @winner == false %>
      <h1 class="col-lg-offset-5 subtitle draw">Draw</h1>
      <img src="images/handshake.png" class="img-responsive col-lg-3 col-lg-offset-4 handshake">
  <% else %>
      <h1 class="col-lg-offset-3 subtitle"> Player <%= @winner_name %> has won this game !</h1>
      <% if @winner_color == 'blue'%>
        <img src="images/blueshield.png" class="img-responsive col-lg-2 col-lg-offset-5 end_shield">
      <% end %>
      <% if @winner_color == 'red'%>
        <img src="images/redshield.png" class="img-responsive col-lg-2 col-lg-offset-5 end_shield">
      <% end %>
  <% end %>
</div>
<form action="/restart_game" method="post">
  <input type="submit" value="Restart Game" class="btn btn-lg btn-primary restart_button col-lg-offset-5">
</form>
