<section>
  <figure>
    <div class="row">
      <div class="col-lg-offset-3">
        <img src="images/landdark.jpg" class="img-responsive img-rounded">
        <figcaption>Created By <a href="https://www.flickr.com/photos/drazzacov/">Dr. Azzacov</a> </figcaption>
      </div>
    </div>
  </figure>
  <div class="row">
    <div class="col-lg-offset-1 starter-template">
      <% if @players.empty? %>
        <a href="/players_choice" class="btn btn-default btn-lg">New Game</a>
    <% else %>
        <a href="/choose_race" class="btn btn-default btn-lg">Continue Game</a>
    <% end %>
    </div>
  </div>
</section>
