<form action="/create_players" method="post" class="form-horizontal">
  <fieldset>
    <legend>Players</legend>
    <div class="row">
      <div class="form-group starter-template">
        <label for="players" class="col-lg-6">
          <h4>Enter players' names separated by comma (max. 4 players)</h4>
        </label>
        <div class="col-lg-3">
          <input type="text" name="players" id="players" class="form-control" placeholder="Ex : Alice, Bob, John...">
        </div>
        <div class="col-lg-3">
          <input type="submit" value="Validate" class=" col-lg-4 btn btn-primary">
        </div>
      </div>
    </div>
  </fieldset>
</form>
<div class="row">
  <figure>
    <div class="col-lg-offset-4 col-lg-4">
      <img src="images/knight.jpg" class="img-responsive img-circle">
      <figcaption class="starter-template">
      Illustrated By <a href="https://www.flickr.com/photos/pareeerica/">Parée</a>
      </figcaption>
    </div>
  </figure>
</div>
