<div class="playerschoice">
  <form action="/create_players" method="post" class="form-horizontal">
    <fieldset>
      <legend class="subtitle">Players</legend>
      <div class="row">
        <div class="form-group starter-template">
          <label for="players" class="col-lg-6">
            <h4 class="text">Enter players' names separated by whitespace (2 players)</h4>
          </label>
          <div class="col-lg-3">
            <input type="text" name="players" id="players" class="form-control" placeholder="Ex : Alice Bob">
          </div>
          <div class="col-lg-3">
            <input type="submit" id="validate_players" value="Validate" class=" col-lg-4 btn btn-primary">
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="row">
    <figure>
      <div class="col-lg-offset-6 col-lg-4 imgwarrior">
        <img src="images/guerriericon.jpg" class="img-responsive">
      </div>
    </figure>
  </div>
</div>
