<fieldset>
  <legend class="subtitle">Players</legend>
  <div class="row starter-template col-lg-offset-2">
    <figure>
        <div class="col-lg-1 col-lg-offset-2">
          <img src="images/helmet.png" class="img-responsive">
        </div>
        <div class="col-lg-1">
          <img src="images/blueflag.png" class="img-responsive">
        </div>
    </figure>
    <figure>
        <div class="col-lg-1 col-lg-offset-3">
          <img src="images/helmet.png" class="img-responsive">
        </div>
        <div class="col-lg-1">
          <img src="images/redflag.png" class="img-responsive">
        </div>
    </figure>
  </div>
  <span><span class="col-lg-offset-4"><%= @presenter.players[0].name %></span><span class="col-lg-offset-4"><%= @presenter.players[1].name %></span></span>
</fieldset>
<fieldset>
  <legend class="subtitle">RaceChoice</legend>
  <p class="quote col-lg-offset-4">Destiny is no matter of chance. It is a matter of choice.</p>
</fieldset>
<div class="row">
  <div class="row races">
    <figure>
      <div class="col-lg-7">
        <div class="col-lg-offset-5 fig">
          <img id="orcs" src="images/orcres.png" class="img-responsive img-circle race-img" alt="orc-img">
          <div class="col-lg-offset-2">
            <h1 class="col-lg-offset-2">Orc</h1>
            <figcaption>
            Illustrated By
            <a href="http://davidhueso.deviantart.com/art/Orc-366588159">davidhueso</a>
            </figcaption>
          </div>
        </div>
      </div>
    </figure>
    <figure>
      <div class="col-lg-5">
        <div class="col-lg-offset-2 fig">
          <img id="humans" src="images/humanres.png" class="img-responsive img-circle race-img" alt="human-img">
          <div class="col-lg-offset-2">
            <h1 class="col-lg-offset-1">Human</h1>
            <figcaption class="left-shift">
            Illustrated By
            <a href="http://www.deviantart.com/art/LPJ-Des-artwork-207534009">YamaOrce</a>
            </figcaption>
          </div>
        </div>
      </div>
    </figure>
  </div>
</div>
<input id="actual_player_color" type="hidden" value=<%= @actual_player.color %>>
