.starter-template {
  padding: 15px 10px;
  text-align: center;
}

.left-shift {
  padding-left: 12px;
}

.presentation {
  position: fixed;
  top: 200px;
}

.playerschoice {
  position: relative;
  top: 50px;
}

.finishturn {
  position: fixed;
  left: 25px;
  bottom: 25px;
}

.gametitle {
  position: relative;
  top: 50px;
}

.end_shield {
  position: relative;
  right: 25px;
  top: 50px;
}

.restart_button {
  position: relative;
  top: 100px;
}

.draw {
  position: fixed;
  left: 20px;
}

.handshake {
  position: relative;
  left: 20px;
}

.game {
  position: relative;
  bottom: 50px;
}
